 </div>
 <%= content_tag :div ,:id => "map-canvas",:style => "height: 500px; width: 800px;" ,data: {cord_values: values} do%>
    We gonna see all the google maps here
    <%= values%>
 <% end %>


 <%= javascript_tag do %>
  function initialize() {
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(0,0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  setMarkers(map, beaches);
}

var beaches = [
  ['Mumbai',"18.9647", "72.8258"],
  ['Pune','18.5236','73.8478'],
  ['china',"32.9043","110.4677"]
  ];

function setMarkers(map, locations) {

  
  var image = {
    url: '/assets/pin.png',
    size: new google.maps.Size(20, 32),
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 32)
  };
  var shadow = {
    url: '/assets/pin.png',
    size: new google.maps.Size(37, 32),
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 32)
  };
  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  var bounds = new google.maps.LatLngBounds();
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        shadow: shadow,
        icon: image,
        shape: shape,
        title: beach[0],
        zIndex: beach[3]
    });
    bounds.extend(myLatLng);
  }
  map.fitBounds(bounds);
  alert($('#map-canvas').data('cord-values'));
}
google.maps.event.addDomListener(window, 'load', initialize);   
/*https://developers.google.com/maps/documentation/javascript/examples/icon-complex?hl=fr-FR */


<% end %>
 